In [1]:
pi = 3.14
radius = 100
area_of_circle = pi*radius*radius

In [6]:
print(

_IncompleteInputError: incomplete input (149104261.py, line 1)

In [ ]:
print()

In [4]:
print(")

SyntaxError: unterminated string literal (detected at line 1) (2943481665.py, line 1)

In [5]:
print("The area of the circle is")

The area of the circle is

In [7]:
print("The area of the circle is" = area_of_circle)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1802005156.py, line 1)

In [8]:
print("The area of the circle is", area_of_circle)

The area of the circle is 31400.0

In [9]:
print(f"The area of the circle is : {area_of_circel}")

NameError: name 'area_of_circel' is not defined

In [10]:
print(f"The area of the circle is : {area_of_circle}")

The area of the circle is : 31400.0

In [11]:
print("The area of the circle is : {}".fotmat(area_of_circle))

AttributeError: 'str' object has no attribute 'fotmat'

In [12]:
print("The area of the circle is : {}".format(area_of_circle))

The area of the circle is : 31400.0

In [13]:
print("The area of the circle is : {}".format(area_of_circle)

_IncompleteInputError: incomplete input (2849044200.py, line 1)

In [14]:
print("The area of the circle is : {}".format(area_of_circle))

The area of the circle is : 31400.0


**Round**

In [67]:
a = 2316
b = 2252
c = 3887
average  = (a+b+c)/3
average_value = round(average,2)

In [58]:
print("The average of the three numbers a, b and c is :", average)

The average of the three numbers a, b and c is : 2818.3333333333335

In [63]:
round(average, 3)

2818.333

In [64]:
round(average)

2818

In [65]:
round(average, 4)

2818.3333

In [66]:
round(average, 1)

2818.3

In [68]:
print("The average of {}, {}, {} is :{}".format(a,b,c,average_value))

The average of 2316, 2252, 3887 is :2818.33

**functions we are using right now:**

- print()
- type()
- max()
- min()
- len()
- sum()
- round()

In [71]:
# () function call method
# whenever we miss the bracket
# it wil indicate to ways

- bonded method
- function

In [72]:
import os
os.getcwd

#this is not showung any error instead asking the user to put the brackets after the function name to call the function.

In [73]:
import os
os.getcwd()

'C:\\Users\\kunal\\OneDrive\\Documents\\Data Science with Gen AI\\Python_Sessions'

In [74]:
name = 'Python' #hard coded

# we fixed the value
# we need to ask the user enter any value
# different users can enter same code

**Input**

In [76]:
name = input()
print('My name is :', name)

 Kunal Saini

My name is : Kunal Saini

In [77]:
Name = input()
Age = input()
Place = input()

 Kunal Saini
 23
 Delhi

In [78]:
print('My name is {}. I am {} years old. I am from {}.'.format(Name, Age, Place))

My name is Kunal Saini. I am 23 years old. I am from Delhi.

In [79]:
print(f"My name is {Name}. I am {Age} years old. I am from {Place}.")

My name is Kunal Saini. I am 23 years old. I am from Delhi.

In [80]:
Name = input("Enter your name:")
Age = input("Enter you age: ")
Place = input("Enter your place: ")

Enter your name: Kunal Saini
Enter you age:  23
Enter your place:  Delhi

In [81]:
print(f"My name is {Name}. I am {Age} years old. I am from {Place}.")

My name is Kunal Saini. I am 23 years old. I am from Delhi.