**Print is an inbuilt function used to print the outputs.**
- We always work towards only one end goal: **Customer Satisfaction**
- Client doesn't know the python code.
- Whatever we want to show the output we need to display very clearly.
- Question yourself: **AM I SHOWING OUTPUT PROPERLY OR NOT.**

In [1]:
n1 = 100
n2 = 200
add = n1+n2
add

300

In [12]:
print('The addition of ' + str(n1)+ ' ' + 'and ' + str(n2) +':', add)

The addition of 100 and 200: 300

In [13]:
print(f"The sum of {n1} and {n2} is", add)

The sum of 100 and 200 is 300

In [25]:
Name = 'Kunal Saini'
Age = 23
City = 'Delhi'

In [26]:
print('Hii, my name is', Name, '. I am',Age, 'years old. And I am coming from', City)

Hii, my name is Kunal Saini . I am 23 years old. And I am coming from Delhi

In [42]:
print(f"Hii, name is {Name}. I am {Age} years old and I am from {City}.")

Hii, name is Kunal Saini. I am 23 years old and I am from Delhi.

In [43]:
print("Hii, My name is {}. I am {} years old and I am from {}.".format(Name, Age, City))

Hii, My name is Kunal Saini. I am 23 years old and I am from Delhi.

**F-string**

- You can just print the entire output without any chaos.
- Just put the  curly brackets instead of the variable and inside the curly braces you have to just write the variable name.
- before starting the quotes in the print function, you have to just put a **f** before.

**Questions**

In [49]:
pi = 3.14
r = 100
area_of_circle = pi*r*r

print(f"The area of the circle having radius {r}cm is {area_of_circle} sq.cm")
print("The area of the circle having radius {}cm is {} sq.cm".format(r, area_of_circle))

The area of the circle having radius 100cm is 31400.0 sq.cm
The area of the circle having radius 100cm is 31400.0 sq.cm

In [46]:
bill_amount = 2138
tip_amount = 122
total_amount = bill_amount+tip_amount

print(f"The bill amount is Rs.{bill_amount} and the tip amount is Rs.{tip_amount}. Both adds up to make the total amount to Rs.{total_amount}.")
print("The bill amount is Rs.{} and the tip amount is Rs.{}. Both adds up to make the total amount to Rs.{}.".format(bill_amount,tip_amount,total_amount))

The bill amount is Rs.2138 and the tip amount is Rs.122. Both adds up to make the total amount to Rs.2260.
The bill amount is Rs.2138 and the tip amount is Rs.122. Both adds up to make the total amount to Rs.2260.

In [52]:
length = 46
breadth = 73
area_of_triangle = 0.5*length*breadth

print(f"The area of the triangle having length {length} and breadth {breadth} is {area_of_triangle}cm.")
print("The area of the triangle having length {} and breadth {} is {}cm.".format(length,breadth,area_of_triangle))

The area of the triangle having length 46 and breadth 73 is 1679.0cm.
The area of the triangle having length 46 and breadth 73 is 1679.0cm.

In [56]:
number1 = 7392
number2 = 3883

addition = number1+number2
subtraction = number1-number2
multiplication = number1*number2
division = number1/number2

print(f"The addition of {number1} and {number2} is {addition}.")
print(f"The subtraction of {number1} and {number2} is {subtraction}.")
print(f"The multiplication of {number1} and {number2} is {multiplication}.")
print(f"The division of {number1} and {number2} is {division}.")

The addition of 7392 and 3883 is 11275.
The subtraction of 7392 and 3883 is 3509.
The multiplication of 7392 and 3883 is 28703136.
The division of 7392 and 3883 is 1.9036827195467423.

- Another way to print using .format() function

In [59]:
print("The addition of {} and {} is {}.".format(number1,number2,addition))
print("The subtraction of {} and {} is {}.".format(number1,number2,subtraction))
print("The multiplication of {} and {} is {}.".format(number1,number2,multiplication))
print("The division of {} and {} is {}.".format(number1,number2,division))

The addition of 7392 and 3883 is 11275.
The subtraction of 7392 and 3883 is 3509.
The multiplication of 7392 and 3883 is 28703136.
The division of 7392 and 3883 is 1.9036827195467423.

In [60]:
num1 = 127
num2 = 142
num3 = 386
average = num1+num2+num3

print(f"The average of the three numbers {num1},{num2},{num3} is {average}")
print("The average of the three numbers {},{},{} is {}".format(num1,num2,num3,average))

The average of the three numbers 127,142,386 is 655
The average of the three numbers 127,142,386 is 655