- String Representation
- Inbuilt Functions
    - type 
    - print
    - min
    - max
    - len
    - sum 
    - sorted
    - reversed
- Concatenation
- Index operations
- Mutable vs imutable
- Slice
- Methods

**Representations**

In [18]:
s1 = 'Python'
s2 = 'python'
s3 = "I like 'python'"
s4 = 'I like "python"'
print(s1)
print(s2)
print(s3)
print(s4)

Python
python
I like 'python'
I like "python"

In [7]:
type(s1)

str

In [5]:
print(s1)

python

In [19]:
min(s1)

'P'

In [8]:
max(s1)

'y'

In [12]:
# sum(s1) - it will show error

In [13]:
sorted(s1)

['h', 'n', 'o', 'p', 't', 'y']

In [43]:
s9 = reversed(s1)
print(s9)

<reversed object at 0x00000235E8147D00>

In [35]:
for i in 'python':
    print(ord(i), i)

112 p
121 y
116 t
104 h
111 o
110 n

**Iterable**

- whenever we see iterable words recall loops
- i can print somehting by using a loop
    - that can be strings
    - that can be list
    - that can be tuple etc.

In [ ]:
sorted('python', key=str.lower, reverse = False)

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
a = 'python'
list(reversed(a))

['n', 'o', 'h', 't', 'y', 'p']

In [67]:
ans = reversed('python')
for i in ans:
    print(i)

n
o
h
t
y
p

**HOMEWORK**

- l1 = ['p','y','t','h','o','n']
- l2 = [10,20,2,3,50,60]
- l3 = ['p','y','t',10,20,30]
- len(l1)
- type(l1)
- print(l1)
- min(l1)
- max(l1)
- sorted(l1)
- reversed(l1)

In [72]:
s1 = 'hai'
s2 = 'hello'
print(s1+s2)
print(s1+" "+s2)

haihello
hai hello

In [73]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [74]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [75]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [1]:
a = '21'
b = '23'
a+b

'2123'

In [9]:
c = a*4
d = b*3
print(c)
print(d)
type(c)

21212121
232323

str

**Indexing**

- Index will give na idea how to access the elements in a string 
- Function represents with normal parantheses
- Access is represent with square brackets

In [12]:
"""
Representation of indexing
-6 -5 -4 -3 -2 -1
 p  y  t  h  o  n
 0  1  2  3  4  5
"""

s1 = 'python'
s1[0], s1[-6]

('p', 'p')

In [16]:
for i in range(0,6):
    print(s1[i],i)

p 0
y 1
t 2
h 3
o 4
n 5

In [21]:
for i in s1:
    print(i,end=' ')

p y t h o n

In [28]:
for i in range(0,6):
    print(s1[i],end=' ')

p y t h o n

In [1]:
l1 = ['p','y','t','h','o','n']
l2 = [10,20,2,3,50,60]
l3 = ['p','y','t',10,20,30]

In [2]:
len(l1)

6

In [3]:
type(l1)

list

In [4]:
print(l1)

['p', 'y', 't', 'h', 'o', 'n']

In [5]:
min(l1)

'h'

In [6]:
max(l1)

'y'

In [7]:
sorted(l1)

['h', 'n', 'o', 'p', 't', 'y']

In [8]:
reversed(l1)

**In vs Range**

- if you want to directly use the elements directly use **in** operator
    - for i in 'python' where i is characters
- if we want to access the elements using range apply index.
    - for i in range(len('python')) where i is a number


- Enumerate is an inbuilt function which give the index and element 
- in below i become index and j become element

In [9]:
s1 = 'python'

for i,j in enumerate(s1):
    print(i,j)

0 p
1 y
2 t
3 h
4 o
5 n

In [13]:
for i in s1:
    print(i)

p
y
t
h
o
n

In [11]:
for i in range(len(s1)):
    print(i, s1[i])

0 p
1 y
2 t
3 h
4 o
5 n

**Write a program to find number of "a" in the provided string**

In [45]:
s2 = 'ola ola ola'
count = 0
print("The count of letter 'a' is:")
for i in s2:
    if(i=='a'):
        count=count+1
print(count)

The count of letter 'a' is:
3

**Write a program to find number of "a" in the provided string**

In [44]:
s2 = 'ola ola ola'
count = 0
print("The count of letter 'a' is:")
for i in range(len(s2)):
   
    if(s2[i]=='a'):
        count=count+1 
print(count)

The count of letter 'a' is:
3

**Write a program to print sum of the indexes of the character "a" in the provided string**

In [43]:
s2 = 'ola ola ola'
count = 0
print("The sum of indices of letter 'a' is:")
for i in range(len(s2)):
   
    if(s2[i]=='a'):
        count= count+i 
print(count)

The sum of indices of letter 'a' is:
18

**Write a program to print all the vowels present in the string provided**

In [42]:
s2 = 'hai how are you'
vowels = 'aeiou'
print("The vowels in the string are:")
for i in s2:
    if i in vowels:
        print(i, end=' ')

The vowels in the string are:
a i o a e o u

**Write a program to print all the vowels present in the string provided using OR operator**

In [48]:
s2 = 'hai how are you'
print("The vowels in the string are:")
for i in s2:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        print(i)

The vowels in the string are:
a
i
o
a
e
o
u

**Write a program to print all the vowels present in the string provided using OR operator but not repeated**

In [55]:
s2 = 'hai how are you'
vowels = 'aeiou'
result = ''
print("The vowels in the string are:")
for i in s2:
    if i in vowels:
        if i not in result:
            result += i + " "      #result = result+i
print(result)

The vowels in the string are:
a i o e u

**Mutable vs Immutable**

- Mutbale: Chracters in a string can be changed by index operation
- Immutable: Characters in a string cannot be changed by using index operation.

In [4]:
s2 = 'welcome'
s2[2] = 'L'
s2

TypeError: 'str' object does not support item assignment

In [2]:
s1 = ['w','e','l','c','o','m','e']
s1[2] = 'L'
s1

['w', 'e', 'L', 'c', 'o', 'm', 'e']

**Slice**

- Slice means a sub string in a given string 
- Extracting a piece of characters using indexes

In [ ]:
# range(start, stop, step)

# string[start:stop:step]

# -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#  h    a    i         h    o    w       a   r   e       y   o   u
#  0    1    2    3    4    5    6   7   8   9   10  11  12  13  14

In [30]:
str = 'Hai how are you'
str[-1:-10:2]

''

In [21]:
str = 'Hii, my name is Kunal Saini'
str[1:10:2]

'i,m a'

In [22]:
str = 'hola amigo, how are you'
str[4:-3:2]

' mg,hwae'

In [24]:
str = 'He is an excellent boy'
str[-5:3:-1]

'tnellecxe na s'

In [31]:
str = 'Hai how are you'
str[2:14:5]

'i y'

In [33]:
str = 'Hai how are you'
str[2:2000]

'i how are you'

In [34]:
str = 'Hai how are you'
str[1:-1000:2]

''

In [36]:
str[:]

'Hai how are you'

In [37]:
str[:13]

'Hai how are y'

In [39]:
str[:34]

'Hai how are you'

In [40]:
str[0:]

'Hai how are you'

In [43]:
str[::2]

'Hihwaeyu'