In [2]:
n1 = int(input('Enter the n1: '))
n2 = int(input('Enter the n2: '))
n1+n2

Enter the n1:  12
Enter the n2:  234

246

In [3]:
n1 = float(input('Enter the n1: '))
n2 = float(input('Enter the n2: '))
n1+n2

Enter the n1:  1823.3
Enter the n2:  3242.23

5065.53

- Whenever we want to use integer we are applying int, as input always take every input value as string
- similarly for any other data type we are applying type casting to other data types of input value
- there is one more operation : **eval**
- eval convert integer to int type and decimal to float type

In [ ]:
 int('10') # 10
int('10.5') # error

In [7]:
n1 = eval(input('Enter the number 1 here:'))
n2 = eval(input('Enter the number 1 here:'))
n1+n2

Enter the number 1 here: 12
Enter the number 1 here: 373.23

385.23

**Question-1: Average of numbers**

In [17]:
 n1 = eval(input('Enter the number1 here: '))
 n2 = eval(input('Enter the number2 here: '))
 n3 = eval(input('Enter the number3 here: '))

average = round((n1+n2+n3)/3, 3)
print(f"The average of {n1}, {n2}, {n3} is : {average}")

Enter the number1 here:  12
Enter the number2 here:  324
Enter the number3 here:  123

The average of 12, 324, 123 is : 153.0

**Question-2: Area of circle**

In [11]:
pi = eval(input('Enter the value of pi: '))
radius = eval(input('Enter the radius of the circle: '))

area_of_circle = pi*radius*radius
print(f"The area of the circle with radius {radius} is: {area_of_circle}")

Enter the value of pi:  3.14
Enter the radius of the circle:  23

The area of the circle with radius 23 is: 1661.06

**Question-3: area of triangle**

In [13]:
breadth = eval(input('Enter the breadth of triangle: '))
height = eval(input('Enter the height of triangle: '))

area_of_triangle = 0.5*breadth*height
print(f"The area of the triangle with height: {height} and breadth: {breadth} is: {area_of_triangle}")

Enter the breadth of triangle:  12
Enter the height of triangle:  45

The area of the triangle with height: 45 and breadth: 12 is: 270.0

**Question-4: mathematical calculations**

In [18]:
 n1 = eval(input('Enter the number1 here: '))
 n2 = eval(input('Enter the number2 here: '))

addition = n1+n2
subtraction = n1-n2
multiplication = n1*n2
division = round(n1/n2, 3)

print(f"The addition of {n1} and {n2} is : {addition}")
print(f"The subtraction of {n1} and {n2} is : {subtraction}")
print(f"The multiplication of {n1} and {n2} is : {multiplication}")
print(f"The division of {n1} and {n2} is : {division}")

Enter the number1 here:  23
Enter the number2 here:  35

The addition of 23 and 35 is : 58
The subtraction of 23 and 35 is : -12
The multiplication of 23 and 35 is : 805
The division of 23 and 35 is : 0.657

**Question-5: Calculate the total amount**

In [20]:
bill_amount = eval(input('Enter the bill amount: '))
tip_amount = eval(input('Enter the tip amount: '))

total_amount = bill_amount+tip_amount
print(f"The total amount with bill value-{bill_amount} and tip value-{tip_amount} is: {total_amount}")

Enter the bill amount:  5342.2
Enter the tip amount:  524.

The total amount with bill value-5342.2 and tip value-524.0 is: 5866.2

**Question-6: Calculate tax amount**

In [24]:
Net_Salary = eval(input('Enter your salary here: '))
Tax_percentage = eval(input('Enter percentage (No need to enter % in the end):'))

Tax_amount = Tax_percentage*Net_Salary/100
print(f"The total tax amount of Rs.{Net_Salary}  at {Tax_percentage}% tax is : {Tax_amount}")

Enter your salary here:  650000
Enter percentage (No need to enter % in the end): 12

The total tax amount of Rs.650000  at 12% tax is : 78000.0

**Question-7: Convert Currency**

In [26]:
Dollars = eval(input('Enter no. of Dollars: '))
INR =  eval(input('Enter the current value of one Dollar in INR: '))
INR_Currency = Dollars*INR
print(f"The ${Dollars} in INR are: Rs.{INR_Currency}.")

Enter no. of Dollars:  1000
Enter the current value of one Dollar in INR:  88

The $1000 in INR are: Rs.88000.

**Question-8: Convert Weight**

In [28]:
Pounds = eval(input('Enter weight in pounds: '))

weight_in_kg = Pounds*2.2
print(f"The {Pounds}pounds in standard Kg is: {weight_in_kg}Kg.")

Enter weight in pounds:  235

The 235pounds in standard Kg is: 517.0Kg.